/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


 body {
    font-family: 'Doppio One' sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f1f1f1;
  }

 main {
    flex: 1 0 auto;
  }

 nav {
    color: black;
  }

 nav ul li a {
    color: black;
  }

 h5 {
   margin: 30px 0;
 }

 .page-footer {
   font-size: 80%;
 }

 .brand-logo {
   margin-left: 25px;
 }
 ​
 .footer-copyright {
   font-size: 24px;
 }

 a {
   color: #125688;
 }

 a:hover {
   color: #1c5380;
 }

 .card-image {
   flex: 1 0 auto;
 }

 .footer-copyright {
   font-size: 14px;
 }

 .hidden {
   display: none;
 }

 strong {
   font-weight: 700;
 }

 #nav-mobile {
   margin-right: 25px;
 }

 #login-prompt {
   font: 400 45px/1.3 'Bree Serif', Georgia, serif;
   /*font-family: 'Lobster', cursive;*/
 }

 #navbar-branding {
   font-family: 'Pacifico', cursive;
 }

 #user-profile {
   font-family: 'Open Sans', sans-serif;
 }
