<div class="container center">
  <div class="row">
    <div class="col s12 m4 l2"><p></p></div>
    <div class="col s12 m4 l8">
    <div class="input-field">
      <input id="link-title" type="text" class="validate">
      <label>Title</label>
    </div>
    <div class="input-field">
      <input id="link-url" type="text" class="validate">
      <label>URL</label>
    </div>
    <div class="input-field">
      <button class="btn waves-effect waves-light submit-button" id="create-link" type="submit" name="action">Create</button>
    </div>
    <p></p></div>
    <div class="col s12 m4 l2"><p></p></div>
  </div>
  <br>

    <div class="col s12"><span class="flow-text"><h4>Search Links</h4></span></div>
    <nav>
      <div class="nav-wrapper">
        <form>
          <div class="input-field white">
            <div class="ui-widget">
              <input id="link-search" type="search" required>
            </div>
          </div>
        </form>
      </div>
    </nav>
    <br>

<!-- INDEX -->
  <div class="col s12"><span class="flow-text"><h4>Link Index</h4></span></div>
  <div class="col s12"><span class="light italic">(click title or url to edit, press enter to save)</span></div>

  <table class="centered">
    <br><br>
    <div class="col s12" id="link-index"></div>
  </table>

  </div>

</div>
