User Dashboard - Links Index <br><br>

<% @links.each do |link| %>
   <td>
     <%= link.title %><br>
   </td>
   <td>
     <%= link.url %><br>
   </td>
   <td>
     <%= link.read %><br>
   </td><br><br>
 </tr>
<% end %>
